.student-list {
  background: #ffffff;
  width: 65%;
  margin: auto;
  border-radius: 10px;
  margin: 0;
  max-height: 700px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}
